*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    position: relative;
}
#image-header{
   background-image: url(./img/bread.jpg);
  background-size: cover;
  height: 710px;
}
.SignUp, .LogIn{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    position: absolute;
    width: 200px;
    height: 72px;
    top: 200px;
    border-color: #10701a;
    background: rgba(186, 236, 188, 0.33);
    border: none;
}
.SignUp{
    right: 288px; 
    border-radius: 10px 0px 0px 0px;  
}
.LogIn{
    right: 88px;
    border-radius: 0px 10px 0px 0px;
}
.LogIn:hover,  .SignUp:hover{
    background-color: rgba(140, 188, 142, 0.73);
    border: #10701aa0;
}
.btnSelected{
    background-color: rgba(98, 133, 99, 0.73);
    border: #10701aa0;
}
.mainSignUp, .mainLogIn{
    position: absolute;
    width: 401px;
    height: 380px;
    right: 88px;
    top: 272px;
    background: rgba(169, 219, 171, 0.59);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction:column;
}
input{
    width: 308px;
    height: 66px;
    top: 634px;
    background: rgba(254, 253, 253, 0.44);
    border: 3px solid #76C67E;
    border-radius: 70px;
    margin: 0px 0px 15px 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}
.e-mail, .user{
    margin-top: 40px;
}
.createAccount, .LogInBtn{
    width: 208px;
    height: 50px;
    right: 184px;
    top: 760px;
    margin-left: 100px;
    margin-top: 30px;
    background: rgba(103, 177, 110, 0.65);
    border: 3px solid #67B16E;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #FFFCFC;
}
.forgotUsernameOption{
    display: flex;
    justify-content: center;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 30px;
}
footer{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    left: 25%;
}
.showMain{
    display: block;
}
.hideMain{
    display: none;
}