*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fondo{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    width: 100vw;
    height: 100vh;
}
.SignUp, .LogIn{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    position: absolute;
    width: 200px;
    height: 72px;
    top: 298px;
    border-color: #10701a;
    background: rgba(186, 236, 188, 0.33);
    border: none;
}
.SignUp{
    right: 288px; 
    border-radius: 10px 0px 0px 0px;  
}
.LogIn{
    right: 88px;
    border-radius: 0px 10px 0px 0px;
}
.LogIn:hover,  .SignUp:hover{
    background-color: rgba(140, 188, 142, 0.73);
    border: #10701aa0;
}
.btnSelected{
    background-color: rgba(98, 133, 99, 0.73);
    border: #10701aa0;
}
.mainSignUp, .mainLogIn{
    position: absolute;
    width: 401px;
    height: 380px;
    right: 88px;
    top: 370px;
    background: rgba(169, 219, 171, 0.59);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-direction:column;
}
input{
    width: 308px;
    height: 66px;
    top: 634px;
    background: rgba(254, 253, 253, 0.44);
    border: 3px solid #76C67E;
    border-radius: 70px;
    margin: 0px 0px 15px 40px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    line-height: 30px;
}
.e-mail, .user{
    margin-top: 40px;
}
.createAccount, .LogInBtn{
    width: 208px;
    height: 50px;
    right: 184px;
    top: 760px;
    margin-left: 100px;
    margin-top: 30px;
    background: rgba(103, 177, 110, 0.65);
    border: 3px solid #67B16E;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #FFFCFC;
}
.forgotUsernameOption{
    display: flex;
    justify-content: center;
}

a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    color: black;
    margin-top: 30px;
}
footer{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    left: 25%;
}
.showMain{
    display: block;
}
.hideMain{
    display: none;
}
/*tablet*/
@media (max-width: 916px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        background: #FFFFFF;
    }
    .fondo{
        margin: 0;
        padding: 0;
        width: 915px;
        height: 1368px;
    }
    .SignUp{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 30px;
        line-height: 36px;
        position: absolute;
        width: 159px;
        height: 72px;
        right: 187px;
        top: 367px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 10px 0px 0px 0px;
    }
    .LogIn{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 30px;
        line-height: 36px;
        position: absolute;
        width: 158px;
        height: 72px;
        right: 28px;
        top: 367px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 0px 10px 0px 0px;
    }
    .LogIn:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    .SignUp:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    
    .mainSignUp{
        
        position: absolute;
        width: 317px;
        height: 534px;
        right: 28px;
        top: 439px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
    
    .mainLogIn{
        display: none;
        position: absolute;
        width: 317px;
        height: 534px;
        right: 28px;
        top: 439px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        /* display: flex; */
        flex-direction:column;
       
    }
    input{
        width: 256px;
        height: 60px;
        right: 59px; 
        top: -80px;
        background: rgba(254, 253, 253, 0.44);
        border: 3px solid #76C67E;
        border-radius: 70px;
        margin-bottom: 30px;
        margin-left: 80px;
        text-align: center;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 25px;
        line-height: 30px;
    }
    .e-mail{
        margin-top: 100px;
        /* margin-bottom: 15px; */
    }
    .user{
        margin-top: 100px;
    }
    .createAccount{
        width: 208px;
        height: 50px;
        right: 184px;
        top: -80px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    .LogInBtn{
        width: 208px;
        height: 50px;
        right: 184px;
        top: -80px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 25px;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500px;
        font-size: 15px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        color: black;
        margin-top: -60px;
        background:rgba(169, 219, 171, 0.168);
    }
    footer{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
    }
}
/*Celulares grandes*/
@media (max-width: 541px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        background: #FFFFFF;
    }
    .fondo{
        margin: 0;
        padding: 0;
        width: 541px;
        height: 720px;
    }
    .SignUp{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        width: 85px;
        height: 53px;
        right: 115px;
        top: 225px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 10px 0px 0px 0px;
    }
    .LogIn{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        width: 85px;
        height: 53px;
        right: 30px;
        top: 225px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 0px 10px 0px 0px;
    }
    .LogIn:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    .SignUp:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    
    .mainSignUp{
        display: none;
        position: absolute;
        width: 170px;
        height: 257px;
        right: 30px;
        top: 278px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        /* display: flex; */
        flex-direction:column;
        align-items: flex-start;
    }
    
    .mainLogIn{
        
        position: absolute;
        width: 170px;
        height: 257px;
        right: 30px;
        top: 278px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction:column;
       
    }
    input{
        width: 139px;
        height: 34px;
        right: 80px; 
        top: -75px;
        background: rgba(254, 253, 253, 0.44);
        border: 3px solid #76C67E;
        border-radius: 70px;
        margin-bottom: 30px;
        margin-left: 80px;
        text-align: center;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
    }
    .e-mail{
        margin-top: 100px;
        /* margin-bottom: 15px; */
    }
    .user{
        margin-top: 100px;
    }
    .createAccount{
        width: 97px;
        height: 25px;
        right: 190px;
        top: -120px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 10px;
        line-height: 12px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    .LogInBtn{
        width: 97px;
        height: 25px;
        right: 190px;
        top: -120px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 10px;
        line-height: 12px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500xp;
        font-size: 8px;
        line-height: 10px;
        align-items: center;
        text-align: center;
        color: black;
        margin-top: -100px;
        background:rgba(169, 219, 171, 0.168);
    }
    footer{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}
/*Celulares medianos*/
@media (max-width: 394px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        position: relative;
        background: #FFFFFF;
    }
    .fondo{
        margin: 0;
        padding: 0;
        width: 393px;
        height: 851px;
    }
    .SignUp{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        width: 85px;
        height: 53px;
        right: 95px;
        top: 225px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 10px 0px 0px 0px;
    }
    .LogIn{
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300px;
        font-size: 20px;
        line-height: 24px;
        position: absolute;
        width: 85px;
        height: 53px;
        right: 10px;
        top: 225px;
        border-color: #10701a;
        background: rgba(186, 236, 188, 0.33);
        border-radius: 0px 10px 0px 0px;
    }
    .LogIn:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    .SignUp:hover{
        background-color: rgba(140, 188, 142, 0.73);
        border: #10701aa0;
    }
    
    .mainSignUp{
        display: none;
        position: absolute;
        width: 170px;
        height: 257px;
        right: 10px;
        top: 278px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        /* display: flex; */
        flex-direction:column;
        align-items: flex-start;
    }
    
    .mainLogIn{
        
        position: absolute;
        width: 170px;
        height: 257px;
        right: 10px;
        top: 278px;
        background: rgba(169, 219, 171, 0.59);
        border-radius: 0px 0px 10px 10px;
        display: flex;
        flex-direction:column;
       
    }
    input{
        width: 139px;
        height: 34px;
        right: 60px; 
        top: -75px;
        background: rgba(254, 253, 253, 0.44);
        border: 3px solid #76C67E;
        border-radius: 70px;
        margin-bottom: 30px;
        margin-left: 80px;
        text-align: center;
        font-family: 'Inter';
        font-style: italic;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
    }
    .e-mail{
        margin-top: 100px;
        /* margin-bottom: 15px; */
    }
    .user{
        margin-top: 100px;
    }
    .createAccount{
        width: 97px;
        height: 25px;
        right: 190px;
        top: -120px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 10px;
        line-height: 12px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    .LogInBtn{
        width: 97px;
        height: 25px;
        right: 190px;
        top: -120px;
        margin-left: 230px;
        margin-top: 40px;
        background: rgba(103, 177, 110, 0.65);
        border: 3px solid #67B16E;
        border-radius: 10px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 10px;
        line-height: 12px;
        align-items: center;
        text-align: center;
        color: #FFFCFC;
    }
    a{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500xp;
        font-size: 8px;
        line-height: 10px;
        align-items: center;
        text-align: center;
        color: black;
        margin-top: -100px;
        background:rgba(169, 219, 171, 0.168);
    }
    footer{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
    }
}
/*Celulares medianos*/