*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainLabel{
    background-image: url("img/bread.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 25px;
}
.principalMain{
    display: flex;
    flex-direction: column;
}
.SignLogButtons{
    display: flex;
}
.SignUp, .LogIn{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 55px;
    line-height: 24px;
    border-color: #10701a;
    background: rgba(186, 236, 188, 0.33);
    border: none;
    padding: 8px;
    width: 50%;
    height: 70px;
}

.SignUp{
    border-radius: 10px 0px 0px 0px;  
}
.LogIn{
    border-radius: 0px 10px 0px 0px;
}
.LogIn:hover,  .SignUp:hover{
    background-color: rgba(140, 188, 142, 0.73);
    border: #10701aa0;
}
.btnSelected{
    background-color: rgba(98, 133, 99, 0.73) !important;
    border: #10701aa0;
}
.mainSignUp, .mainLogIn{
    background: rgba(169, 219, 171, 0.59);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    gap: 10px;
    min-width: fit-content;
    padding: 9px;
    align-items: flex-start;
    flex-direction:column;
}
input{
    background: rgba(254, 253, 253, 0.44);
    border: 3px solid #76C67E;
    border-radius: 70px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    height: 60px;
}
.LogInBtn, .createAccount, .googleBtn{
    background: rgba(103, 177, 110, 0.65);
    border: 3px solid #67B16E;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 12px;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFCFC;
    height: 65px;
    width: 350px;
    margin-top: 30px;
}
.googleBtn{
    border-radius: 100%;
    background-image: url(./img/googleIcon.png);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
}
.forgotUsernameOpt{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: black;
}

footer{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    left: 25%;
}
/*tablet*/
@media (max-width: 916px){
    .mainLabel{
        justify-content:right;
        padding-right: 25px;
    }
    .SignUp, .LogIn{
        font-size: 50px;
        width: 50%;
        height: 100px;
    }

    input{
        height: 80px;
        font-size: 50px;
    }
    .LogInBtn, .createAccount, .googleBtn{
        font-size: 40px;
        height: 70px;
        width: 300px;
        margin-top: 20px;
    }
    .googleBtn{
        border-radius: 100%;
        background-image: url(./img/googleIcon.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
    }
}
/*Celulares*/
@media (max-width: 414px){
    .mainLabel{
        justify-content:center;
        align-items:center;
        padding-right:0;
    }
    .SignUp, .LogIn{
        font-size: 30px;
        width: 50%;
        height: 55px;
    }

    input{
        height: 40px;
        font-size: 25px;
    }
    .LogInBtn, .createAccount, .googleBtn{
        font-size: 25px;
        height: 40px;
        width: 200px;
        margin-top: 20px;
    }
    .forgotUsernameOption{
        font-size: 15px;
    }
    .googleBtn{
        border-radius: 100%;
        background-image: url(./img/googleIcon.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
    }
}
.showMain{
    display: flex;
}
.hideMain{
    display: none;
}
/* Estilos mainPage */
/* menu de navegacion */
.menu{
    width: 100%; /*ocupar el ancho de la pagina*/
    height: 70%;
    left: 0px;
    top: 115px;
    background: rgba(118, 198, 126, 0.32);
}
.headerPrincipalPage{
    width: 100%; /*ocupar el ancho de la pagina*/
    background: rgba(119, 186, 125, 0.8);
}
.inputSearchProfile{
    background-color: white;
    border:solid #10701a 1px;
    border-radius: 70px 0px 0px 70px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    flex-direction: row-reverse;
    display: block;
    text-decoration: none;
}
.searchButton, .profileButton{
    width: 50px;
    height: 40px;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    border: solid #10701a 1px;
    display: block;
    text-decoration: none;
}
.searchButton{
    background-image: url(./img/search.png);
    background-color: white;
    margin: 10px 0px 10px 0px;
}
.profileButton{
    background-image: url(./img/profileIcon.png);
    border-radius:0px 10px 10px 0px;
    margin: 10px 10px 0px 0px;  
}
.usersPost{
    height: 100%;
    width: 50%;
    margin-left: 25%;
    background: rgba(82, 163, 90, 0.2);
    border: 1px solid #000000;
    border-radius: 5px;
}
.publishPostButton{
    background-image: url(./img/post.png);
    width: 50px;
    height: 40px;
    border: none;
    background-color: white;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.likeButton{
    background-image: url(./img/like.png);
    width: 50px;
    height: 40px;
    border: none;
    background-color: white;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
/*cambios menu hamburguesa */
#check{
    display: none; /*ocultar input check*/
}
#menuImg{
    width: 5%;
    display: none;
}
div.headerPrincPage label{ 
    display: none; /*ocultar icono menu*/
}
header label:hover{
    cursor: pointer;
    background-color: rgba(82, 163, 90, 0.2);
}
/*menu - letras - diseño de la lista*/
.menuNav ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /*alineará todos los elementos flexibles con el extremo derecho del contenedor */
}
.menu li:hover{
    background-color: rgba(82, 163, 90, 0.2);
}
/*media queries*/
@media (max-width: 800px){
    #menuImg{
        width: 20%;
        display: block;
    }
    div.headerPrincPage label{ 
        display: block; 
    }
    .menuNav{  /*menu de opciones*/
        position: absolute;
        background-color: rgba(119, 186, 125, 0.8);
        width: 40%;
        margin-left: -75%;
        transition: all 0.5s;
    }
    .menuNav ul{ 
        flex-direction: column;
        padding-left: 1em;
    }
    .inputSearchProfile{
        flex-direction: row-reverse;
        border-radius:0px 10px 10px 0px;
        width:95%;
    }
    .searchButton, .profileButton{
        width: 50px;
        height: 40px;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        border: solid #10701a 1px;
        margin: 10px 0px 10px 0px;
        border-radius:0px 10px 10px 0px;
    }
    #check:checked ~ .menuNav{ /*despues del input check seleccionara toda la clase menu*/
        margin: 0; /*checked: El usuario puede activar este estado marcando/seleccionando un elemento, o desactivarlo desmarcando/deseleccionando el elemento*/

    }
}
/*fin cambios menu hamburguesa*/

/* #searchIconBtn{
    width: 49px;
    height: 47px;
} */
/* #searchIcon{
    width: 42px;
    height: 47px;
    left: 1182px;
    top: 143px;
} */
/* #profile{
    width: 49px;
    height: 47px;
    left: 1280px;
} */
/* #searchProfile{
    width: 5em;
    height: 1em;
    left: 827px;
    margin-bottom: 1%;
    background: rgba(118, 198, 126, 0.26);
    border-radius: 60px;
    margin-left: 78%;
} */
/*.wallPost{ /* Fondo para el post del usuario 
    height: 100%;
    width: 50%;
    margin-left: 25%;
    background: rgba(82, 163, 90, 0.2);
    border: 1px solid #000000;

}*/
/* .imagenPost{
    box-sizing: border-box;
    width: 537px;
    height: 324px;
    left: 471px;
    top: 329px;
    margin-left: 15%;
    margin-top: 10%;
    border: 4px solid #000000;
    border-radius: 20px;
}
.usernamePost{
    width: 312px;
    height: 52px;
    left: 375px;
    top: 653px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-left: 15%;
}
.recipeName{
    width: 533px;
    height: 159px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #000000;
    margin-left: 10%;
    display: inline;
} */
.recipeText{
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    color: #000000;
    margin-left: 2%;
    margin-right: 2%;
}
.like, .comment{
    width: 9%;
    height: 2%;
    background: rgba(103, 177, 110, 0.65);
    border: 1px solid rgb(2, 2, 2);
    border-radius: 10px;
    margin-left: 5%;
}

/* header{
    width: 100%;
    height: 115px;
    left: 0px;
    top: 0px;
    background: rgba(119, 186, 125, 0.8);
    text-align: center;
    font-size: 100px;
} */
