*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainLabel{
    background-image: url("img/bread.jpg");
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:right;
    align-items: center;
    padding-right: 25px;
}
.principalMain{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
}
.SignLogButtons{
    display: flex;
}
.SignUp, .LogIn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 55px;
    line-height: 24px;
    border-color: #10701a;
    background: rgba(186, 236, 188, 0.722);
    border: none;
    padding: 8px;
    width: 50%;
    height: 70px;
    color: white;
}

.SignUp{
    border-radius: 10px 0px 0px 0px;
}
.LogIn{
    border-radius: 0px 10px 0px 0px;
}
.LogIn:hover,  .SignUp:hover{
    background-color:rgba(98, 133, 99, 0.756);
    border: #10701aa0;
}
.btnSelected{
    background-color: rgba(98, 133, 99, 0.756) !important;
    border: #10701aa0;
}
.mainSignUp, .mainLogIn{
    background: rgba(169, 219, 171, 0.844);
    border-radius: 0px 0px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 50%;
    gap: 10px;
    min-width: fit-content;
    padding: 9px;
    align-items: flex-start;
    flex-direction:column;
}
input{
    background: rgba(254, 253, 253, 0.44);
    border: 3px solid #76C67E;
    border-radius: 70px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
    line-height: 30px;
    height: 60px;
}

.LogInBtn, .createAccount{
    background: rgba(103, 177, 110, 0.65);
    border: 3px solid #67B16E;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 45px;
    line-height: 12px;
    align-items: center;
    align-self: center;
    text-align: center;
    color: #FFFCFC;
    height: 65px;
    width: 350px;
    margin-top: 30px;
}
.googleBtn{
    background-image: url(./img/googlesignin.png);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 50px;
    background-color: transparent;
    align-items: center;
    align-self: center;
    text-align: center;
    border: none;
}
.forgotUsernameOpt{
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    text-align: center;
    color: black;
}
.showMain{
    display: flex;
}
.hideMain{
    display: none;
}
/* Estilos mainPage */
/* menu de navegacion */
.headerPrincipalPage, .headerPrincPageProfile{
    width: 100%; /*ocupar el ancho de la pagina*/
   /* background: rgba(119, 186, 125, 0.8);*/
   background: rgba(119, 186, 125, 0.8);
}
.publishPostBtnContainer{
    display: flex;
    width: 60%;
    justify-content: center;
    align-content: center;
}
.inputSearchProfile{
    /*background-color: white;*/
    border:solid #10701a 1px;
    border-radius: 70px 0px 0px 70px;
    text-align: center;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 20px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    flex-direction: row-reverse;
    display: block;
    text-decoration: none;
}
.searchButton, .profileButton, .logOutButton, .logOutButton2, .backButton, .inputLogo, .imageProfile{
    width: 40px;
    height: 40px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid #10701a 1px;
    display: block;
    text-decoration: none;
}
.searchButton:hover, .profileButton:hover, .likeButton:hover, .backButton:hover, .logOutButton:hover, .logOutButton2:hover{
    background-color:  rgba(140, 188, 142, 0.73);
}
.publishPostButton:hover{
    background-color:  rgba(140, 188, 142, 0.73);

}
.logOutContainer, .logOutContainer2{
    display: flex;
    max-height: 55px;
}
/* .logOutContainer:hover{
    background-color: rgba(14, 169, 19, 0.73);
} */
.searchButton{
    background-image: url(./img/loupe-removebg-preview.png);
    /*background-color: white;*/
    margin: 10px 0px 0px 0px;
}
.profileButton{
    background-image: url(./img/user-removebg-preview.png);
    border-radius:0px 10px 10px 0px;
    margin: 10px 10px 0px -1px;
}
.backButton{
    background-image: url(./img/undo.png);
    border-radius:10px 10px 10px 10px;
    margin: 10px 10px 0px -1px;
}
.logOutButton, .logOutButton2{
    background-image: url(./img/switch.png);
    border: none;
    background-color: transparent;
    margin: 10px 10px 10px 5px;
}
.postMain, .perfilMain{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.usersPost, .postMold {
    resize: none;
    width: 100%;
    height: 45px;
    background: rgba(82, 163, 90, 0.2) ;
    border: 1px solid #000000;
    border-radius: 5px;
    font-family:math;
}
.usersPost{
    font-size: 25px;
}
.postMold{
    box-shadow: 12px 12px 10px rgb(171, 172, 170);
}
.usersPost{
    font-size: 25px;
    /*border: 1px solid #ffff;*/
}

.likeButton{
    background-image: url(./img/newlike.png);
    background-color: transparent;
    background-size: cover;
    width: 25px;
    height: 25px;
}
.publishPostButton{
    background-image: url(./img/button.png);
    width: 50px;
    height: 45px;
    margin-left: 10px;
    /*margin-top: ;*/
    background-color: transparent;
}
.publishPostButton, .likeButton {
    border: none;
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
}
.infProfile{
    margin: 5%;
    justify-content: center;
    text-align: center;
}
.imageProfileMuro{
    background-image: url(./img/profileMuro.png);
}
.imageProfile{
    background-image: url(./img/newProfile.png);
    margin-top: 55px;
    margin-left: 300px;
    width: 100px;
    height: 100px;
}

footer{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    left: 25%;
}
/*cambios menu hamburguesa */
#check, #check2{
    display: none; /*ocultar input check*/
}
#menuImg, #menuImg2{
    width: 5%;
    display: none;
}
div.headerPrincPage label{
    display: none; /*ocultar icono menu*/
}
header label:hover{
    cursor: pointer;
    background-color: rgba(82, 163, 90, 0.2);
}
/*menu - letras - diseño de la lista*/
.menuNav ul, .menuNav2 ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /*alineará todos los elementos flexibles con el extremo derecho del contenedor */
}
.menu li:hover{
    background-color: rgba(82, 163, 90, 0.2);
}
#modalEditBtn, #modalDeleteBtn{
    background: rgba(103, 177, 110, 0.65);
    border: 1.5px solid #5a8d6d;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
    line-height: 100%;
    text-align: center;
    color: #FFFCFC;
    height: 70%;
    width: 65px;
    margin-top: 5%;
    margin-right: 6px;
}
.deleteButton, .editButton{
    background: rgba(103, 177, 110, 0.65);
    border: 1.5px solid #67B16E;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 120%;
    line-height: 100%;
    color: #FFFCFC;
    height: 70%;
    width: 15%;
    margin-top: 5%;
    margin-right: 6px;
}
.postButtonsContainer{
    display: flex;
    justify-content:flex-start;
}
.postMold{
    width: 860px;
    height: fit-content;
    padding: 12px;
    align-self: center;
    margin: 18px;
    border: 2px  solid gray;
}
.postTextContent{
    margin: 6px;
}
#divModalEdit{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}
#divModalEdit #divModalEditContent{
    background-color: #282b29;
    margin: auto;
    padding: 25px;
    border: 1px solid #6927a7;
    border-radius: 20px;
    width: 60%;
    color: #FFFCFC;
}
#divModalEdit #spanCloseModal{
    color: rgb(192, 40, 40);
    float:right;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
}
#divModalEdit #newPostTextArea{
    height: 5%;
}
#divModalDelete{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}
#divModalDelete #divModalDeleteContent{
    background-color: #282b29;
    margin: auto;
    padding: 25px;
    border: 1px solid #6927a7;
    border-radius: 20px;
    width: 60%;
    color: #FFFCFC;
}
#divModalDelete #spanCloseModalDelete{
    color: rgb(192, 40, 40);
    float:right;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 20px;
}
.editDeletContainer{
    display: none;
}
/*tablet*/
@media (max-width: 916px){
    .mainLabel{
        justify-content:right;
        padding-right: 25px;
    }
    .SignUp, .LogIn{
        font-size: 50px;
        width: 50%;
        height: 100px;
    }

    input{
        height: 80px;
        font-size: 50px;
    }
    .LogInBtn, .createAccount, .googleBtn{
        font-size: 40px;
        height: 70px;
        width: 300px;
        margin-top: 20px;
    }
    .googleBtn{
        
        background-image: url(./img/googlesignin.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        width: 60%;
        height: 80px;
    }

    .searchButton, .profileButton{
        width: 40px;
        height: 40px;
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
        border: solid #10701a 1px;
        margin: 10px 0px 10px 0px;
    }
    .postMold{
        width: 400px;
    }
}
/*Celulares*/
@media (max-width: 415px){
    .imageProfile{
        margin-left: 150px;
        width: 100px;
        height: 100px;
    }
    .descriptionProfile{
    padding: 5%;
    }
    .mainLabel{
        justify-content:center;
        align-items:center;
        padding-right:0;
    }
    .SignUp, .LogIn{
        font-size: 30px;
        width: 50%;
        height: 55px;
    }
    input{
        height: 40px;
        font-size: 25px;
    }
    .LogInBtn, .createAccount, .googleBtn{
        font-size: 25px;
        height: 40px;
        width: 200px;
        margin-top: 20px;
    }
    .forgotUsernameOption{
        font-size: 15px;
    }
    .googleBtn{
        background-image: url(./img/googlesignin.png);
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        width: 80%;
        height: 80px;
    }
    .inputSearchProfile{
        height: 40px;
    }
    .searchButton, .profileButton, .logOutButton, .logOutButton2, .backButton, .inputLogo{
        border-radius: 5px;
        width: 30px;
        height: 30px;
        border: solid  rgba(119, 186, 125, 0.8) 1px;
    }
    .searchButton{
        margin: 9px 0px 0px 0px
    }
    .profileButton{
        margin: 9px 5px 0px -1px;
    }
    .logOutButton, .logOutButton2{
        margin: 12px 0px 0px 0px;
    }
    .publishPostButton, .likeButton{
        width: 30%;
        height: 40px;
        border: none;
        background-position: center center;
        background-size:cover;
        background-repeat: no-repeat;
        background-color: transparent;
    }
    #menuImg, #menuImg2{
        width: 20%;
        display: block;
    }
    div.headerPrincipalPage label, div.headerPrincPageProfile label{
        display: block;
    }
    .menuNav, .menuNav2{  /*menu de opciones*/
        position: absolute;
        /*background-color: rgba(119, 186, 125, 0.8);*/
        width: 40%;
        height: 33%;
        margin-left: -75%;
        transition: all 0.5s;
    }
    .menuNav ul, .menuNav2 ul{
        flex-direction: column;
        padding-left: 1em;
    }
    .inputSearchProfile{
        flex-direction: row-reverse;
        border-radius:0px 10px 10px 0px;
        width:95%;
    }
    #check:checked ~ .menuNav{
        margin: 0;
    }
    #check2:checked ~ .menuNav2{
        margin: 0;
    }
    .publishPostButton, .likeButton{
        width: 36px;
        height: 40px;
    }

    .publishPostButton{
        margin-left: 10px;
        width: 50px;
    }

    .deleteButton, .editButton, #modalEditBtn{
        width: auto;
        padding: 6px;
        height: 30px;
        width: 50%;
        font-size: 16px;

    }
    .likeButton{
        margin: 6px 10px 10px 10px;
        background-size: 80%;
    }

    .postMold{
        width: 230px;
    }
}

/*fin cambios menu hamburguesa*/